extends ../general.pug
block content 
    img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/HeroBannerDestination/Vietnam/Herro%20banner/HANOI/Hero%20banner/1300x450/Hanoi_herobanner_chua_tran_quoc_1300x450.jpg', style='padding-bottom:20px; width:100%')
    .abc.container
        a.linkurl(href='/') Trang chủ &nbsp
        i.fas.fa-chevron-right
        a.linkurl(href='#2') &nbsp Khám phá &nbsp
        i.fas.fa-chevron-right
        span &nbsp Đà Nẵng
        .flex-container
            .flex-item1
                span.fas.fa-mountain(style='font-size:20px')
                a.linkurl(href='#c1') &nbsp Cảnh đẹp
            .flex-item1
                span.fas.fa-hamburger(style='font-size:20px')
                a.linkurl(href='#c2') &nbsp Ẩm thực
            .flex-item1
                span.fas.fa-running(style='font-size:20px')
                a.linkurl(href='#c3') &nbsp Hoạt động
            .flex-item1
                span.fas.fa-car(style='font-size:20px')
                a.linkurl(href='#c4') &nbsp Di chuyển
            .flex-item1
                span.far.fa-file-alt(style='font-size:20px')
                a.linkurl(href='#c5') &nbsp Thông tin hữu ích
        h2.my-3(style='text-align:center') Đà Nẵng – Thành phố biển đáng sống nhất
        p
            | Là thành phố lớn nhất miền Trung, Đà Nẵng khoác lên mình sự nhộn nhịp và huyên náo của một trung tâm kinh tế - văn hóa lớn nhất khu vực. Được bao bọc bởi biển cả xanh ngát và núi non hùng vĩ, đây là thành phố đáng sống với nhiều thắng cảnh làm say lòng người cùng những giá trị văn hóa độc đáo. Con người Đà Nẵng bình dị, mến khách đã trở thành biểu tượng của mảnh đất này.
        .row1
            .column
                p#c1(style='text-align:center')  Cảnh đẹp
                div(style='position:relative')
                    img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/DANANG/canh%20dep/1920x1080/Danang_canhdep_chua_cau_hoi_an_1920x1080.jpg', style='width:100%;border-radius:5px')
                    .imgtext(style='color:white') Chùa Cầu Hội An
                .row1
                    .column1
                        div(style='position:relative')
                            img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/DANANG/canh%20dep/1920x1080/Danang_canhdep_ghenh_da_ban_than_1920x1080.jpg', style='width:100%;height:100%; padding-right:4px;border-radius:5px')
                            .imgtext(style='color:white') Ghềnh đá Bàn Than
                    .column1
                        div(style='position:relative')
                            img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/DANANG/canh%20dep/1920x1080/Danang_canhdep_song_han_1920x1080.jpg', style='width:100%; height:100%;padding-left:4px;border-radius:5px')
                            .imgtext(style='color:white') Sông Hàn
                p
                    strong Sông Hàn
                    | : Giữa trung tâm thành phố Đà Nẵng, nổi bật dưới ánh đèn sáng rực là sông Hàn về đêm lộng lẫy, lung linh, huyền ảo như một bức mạnh muôn màu. Hai cây cầu bắc qua sông Hàn là cầu Sông Hàn và cầu Rồng có lẽ đẹp nhất khi đêm xuống.
                    |
                    br
                    |
                    |
                    strong Bãi biển Mỹ Khê
                    | :  Gần trung tâm thành phố, bãi biển Mỹ Khê với làn nước trong xanh, bãi cát trắng mịn và hàng dừa cao vút đung đưa theo gió là nơi cực kỳ lý tưởng. Vào buổi tối, còn gì tuyệt vời hơn khi cùng nhau ngồi bên bờ biển, lắng nghe sóng vỗ rì rào và cảm nhận hơi thở mặn mòi của biển cả.
                    |
                    br
                    |
                    |
                    strong Ngũ Hành Sơn
                    | :  Ngũ Hành Sơn Đà Nẵng là nơi vừa mang vẻ đẹp thiên nhiên hùng vĩ, vừa mang giá trị tâm linh với những tảng đá rêu phong, hang động kỳ vĩ và các công trình kiến trúc cổ kính.
                    |
                    br
                    |
                    |
                    strong Bán đảo Sơn Trà
                    | : Bạn cũng có thể tới bán đảo Sơn Trà - nơi có đường bờ biển dài với nhiều bãi biển đẹp như Tiên Sa, Đá Đen, Bụt hay các công trình như chùa Linh Ứng, đỉnh Bàn Cờ.
                    |
                    br
                    |
                    |
                    strong Bà Nà Hills
                    | :  Bà Nà Hills Đà Nẵng là điểm đến không thể bỏ qua trên hành trình của bạn. Di chuyển lên bằng cáp treo, chốn “bồng lai tiên cảnh” trên đỉnh núi Chúa với kiến trúc mang phong cách châu  u sẽ khiến bạn phải kinh ngạc. Khu biệt thự cổ kiểu Pháp, khu văn hoá Phật giáo, cầu Bàn Tay, hầm rượu, vườn hoa Le Jardin... đã làm say lòng biết bao du khách ghé thăm.
                    
            .column
                p#c2(style='text-align:center') Ẩm thực
                .row1
                    .column1
                        div(style='position:relative')
                            img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/DANANG/Am%20thuc/1920x1080/Danang_amthuc_com_ga_1920x1080.jpg', style='width:100%;height:100%;padding-right:4px;border-radius:5px')
                            .imgtext(style='color:white') Cơm gà Hội An
                    .column1
                        div(style='position:relative')
                            img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/DANANG/Am%20thuc/1920x1080/Danang_amthuc_mi_quang_1920x1080.jpg', style='width:100%;height:100%;padding-left:4px;border-radius:5px')
                            .imgtext(style='color:white') Mì Quảng
                |
                |
                div(style='position:relative')
                    img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/DANANG/Am%20thuc/1920x1080/Danang_amthuc_nem_lui_1920x1080.jpg', style='width:100%;padding-top:8px;border-radius:5px')
                    .imgtext(style='color:white') Nem lụi nướng
                |
                p
                    | Đến với Đà Nẵng, bạn sẽ lạc vào thiên đường ẩm thực với nhiều món ăn như bánh xèo, bún chả cá, bún mắm nêm, bánh canh ghẹ, bánh tráng thịt heo, nem lụi, cơm gà... Đặc biệt, đặc sản Đà Nẵng mà du khách tới đây nhất định không được bỏ qua đó là món mỳ Quảng nổi tiếng. Những sợi mỳ to, dày trộn với nước dùng đặc biệt sánh mịn được ninh từ xương heo, ăn kèm rau sống, giá đỗ và bắp chuối lát mỏng, tạo nên thứ hương vị đậm đà khó quên.
                    |
                    br
                    |
                    | Vào những ngày nắng vàng, một ly chè sầu sẽ khiến bạn cảm thấy thật khoan khoái nhờ vị béo ngậy của sầu riêng hòa quyện cùng nước cốt dừa thơm ngọt, sữa tươi và các loại thạch thanh mát. Chè sầu nơi đâu ở Việt Nam cũng có nhưng hương vị thơm ngon đặc trưng của chè sầu Đà Nẵng thì không phải nơi nào cũng có được.
    div(style='background-color:#f1f1f1;')
        p#c3(style='text-align:center;padding-top:30px') Hoạt động
        .ab
            p
                | Nếu muốn cảm nhận rõ nét đẹp của Đà Nẵng, chắc chắn bạn sẽ cần một chỗ trên du thuyền dọc sông Hàn, vừa có thể ngắm nhìn dòng sông Hàn huyền ảo, lãng mạn, vừa chiêm ngưỡng cuộc sống con người hai bên bờ sông Hàn nhộn nhịp.
                |
                br
                | Rời sông Hàn, hãy mua một tấm vé tới khu du lịch Hòa Phú Thành và trải nghiệm hành trình mạo hiểm 3km trượt thác nước bằng xuồng cao su, vượt qua các ghềnh thác hay thử thách đu dây Zipline.
                |
                br
                | Đặc biệt, nếu đến Đà Nẵng vào những dịp lễ hội, bạn sẽ còn được hòa mình vào không khí nhộn nhịp và khám phá các nét đẹp văn hóa bản địa. Lễ hội Pháo hoa quốc tế, lễ hội Ẩm thực và bia (Bà Nà Hills), lễ hội Quán Thế Âm Đà Nẵng hay lễ hội Cầu ngư là những hoạt động đặc sắc mà bạn không thể bỏ qua.
    div
        .imgcontainer
            img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/DANANG/Hoat%20dong/1920x1080/Danang_hoatdong_keo_luoi_1920x1080.jpg', style='width:100%; border-radius:5px; float:left')
        .imgcontainer
            img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/DANANG/Hoat%20dong/1920x1080/Danang_hoatdong_lan_san_ho_1920x1080.jpg', style='width:100%; border-radius:5px;float:left')
        .imgcontainer
            img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/DANANG/Hoat%20dong/1920x1080/Danang_hoatdong_tha_den_hoa_dang_1920x1080.jpg', style='width:100%; border-radius:5px;float:left;')
    p#c4(style='text-align:center;font-size:24px;padding-top:20px') Di chuyển
    p.ab.container(style='padding-bottom:50px;')
        | Hạ cánh xuống sân bay Đà Nẵng, cách trung tâm thành phố khoảng 3km, bạn có thể bắt xe buýt ở cổng sân bay, mất khoảng 10 - 15 phút. Giá vé khoảng 10.000 đồng/lượt, tần suất 15 - 20 phút/chuyến và hoạt động từ 5 giờ 30 phút đến 17 giờ 30 phút hàng ngày. Bạn cũng có thể đón taxi hoặc xe ôm để tiện cho việc ghé thăm quán hàng trên đường về chỗ nghỉ ngơi. Giá đi taxi vào khoảng 60 - 80.000 đồng/lượt và xe ôm là 20.000 - 50.000 đồng/lượt.
    .container1
        iframe.responsive-iframe(src='https://www.youtube.com/embed/-HY6YnkSONo')
    p#c5(style='text-align:center;font-size:24px;padding-bottom:40px;padding-top:40px') Thông tin hữu ích
    .abc.container
        p(style='font-size:22px')  Nơi ở
        p(style='margin-left:10px;margin-right:10px;text-align:justify')
            | Hệ thống khách sạn, nhà nghỉ tại nhà Đà Nẵng rất phong phú từ bình dân tới cao cấp, do đó bạn hoàn toàn yên tâm về vấn đề an toàn cũng như chất lượng.
            | Nếu bạn muốn du lịch biển mà vẫn có thể tham quan thành phố thì nên chọn các khách sạn ven sông Hàn, giá cả các khách sạn tại đây tương đối phải chăng dao động khoảng 200k/ngày, nếu muốn ở resort sang trọng bạn có thể lựa chọn các khách sạn 5 sao. Tại đây, bạn có thể đi bộ để dạo ra biển rất thuận lợi, nhất là ngắm biển về đêm.
            | Nếu bạn muốn du lịch trung tâm thành phố nên chọn các khách sạn gần sân bay Đà Nẵng (từ giá bình dân tới khách sạn cao cấp đều rất phong phú) để có thể thuận lợi tới các khu vui chơi, giải trí. Để đặt khách sạn/nhà nghỉ ở Đà Nẵng bạn nên sử dụng Agoda, khá rẻ, phong phú và chủ động
        
        p(style='font-size:22px')  Cẩm nang bỏ túi
        ul
            li
                | Vào các mùa cao điểm du lịch, nhất là thời điểm diễn ra lễ hội bắn pháo hoa, lượng khách đổ về Đà Nẵng rất đông, khiến khách sạn thường rơi vào tình trạng quá tải. Nếu muốn đến vào dịp này, bạn hãy nhớ lên kế hoạch, đặt trước phòng sớm để tìm được một nơi nghỉ ngơi ưng ý nhất nhé.
            li
                | Bạn có thể liệt kê những điểm cần đến và lên lịch trình chuyến đi chi tiết để tiết kiệm chi phí và thời gian nhé.
            li 
                | Trước khi sử dụng các dịch vụ du lịch, mua sắm, ăn uống, bạn cũng nên hỏi trước giá cả, trả giá khi cần để tránh bị nói thách.
    #myModal.modal1.bg-light.shadow
        .modal-content
            .mySlides
                .numbertext 1 / 6
                img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/DANANG/canh%20dep/1920x1080/Danang_canhdep_chua_cau_hoi_an_1920x1080.jpg', style='width:100%')
            .mySlides
                .numbertext 2 / 6
                img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/DANANG/canh%20dep/1920x1080/Danang_canhdep_ghenh_da_ban_than_1920x1080.jpg', style='width:100%')
            .mySlides
                .numbertext 3 / 6
                img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/DANANG/canh%20dep/1920x1080/Danang_canhdep_song_han_1920x1080.jpg', style='width:100%')
            .mySlides
                .numbertext 4 / 6
                img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/DANANG/Am%20thuc/1920x1080/Danang_amthuc_com_ga_1920x1080.jpg', style='width:100%')
            .mySlides
                .numbertext 5 / 6
                img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/DANANG/Am%20thuc/1920x1080/Danang_amthuc_mi_quang_1920x1080.jpg', style='width:100%')
            .mySlides
                .numbertext 6 / 6
                img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/DANANG/Am%20thuc/1920x1080/Danang_amthuc_nem_lui_1920x1080.jpg', style='width:100%')
            a.linkurl.prev(onclick="plusSlides(-1)") &#x276E;
            a.linkurl.next(onclick="plusSlides(1)") &#x276F;
            .caption-container1
                p#caption
    script.
        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
        showSlides((slideIndex += n));
        }

        function currentSlide(n) {
        showSlides((slideIndex = n));
        }

        function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        var captionText = document.getElementById("caption");
        if (n > slides.length) {
            slideIndex = 1;
        }
        if (n < 1) {
            slideIndex = slides.length;
        }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        captionText.innerHTML = dots[slideIndex - 1].alt;
        }

        //- function openModal2() {
        //- document.getElementById("myModal2").style.display = "block";
        //- }

        //- function closeModal2() {
        //- document.getElementById("myModal2").style.display = "none";
        //- }

        //- var slideIndex2 = 1;
        //- showSlides2(slideIndex2);

        //- function plusSlides2(n) {
        //- showSlides2((slideIndex2 += n));
        //- }

        //- function currentSlide2(n) {
        //- showSlides2((slideIndex2 = n));
        //- }

        //- function showSlides2(n) {
        //- var i;
        //- var slides = document.getElementsByClassName("mySlides2");
        //- var dots = document.getElementsByClassName("demo");
        //- var captionText = document.getElementById("caption2");
        //- if (n > slides.length) {
        //-     slideIndex2 = 1;
        //- }
        //- if (n < 1) {
        //-     slideIndex2 = slides.length;
        //- }
        //- for (i = 0; i < slides.length; i++) {
        //-     slides[i].style.display = "none";
        //- }
        //- for (i = 0; i < dots.length; i++) {
        //-     dots[i].className = dots[i].className.replace(" active", "");
        //- }
        //- slides[slideIndex2 - 1].style.display = "block";
        //- dots[slideIndex2 - 1].className += " active";
        //- captionText.innerHTML = dots[slideIndex2 - 1].alt;
        //- }