extends ../general.pug
block content 
    img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/HeroBannerDestination/Vietnam/Herro%20banner/HANOI/Hero%20banner/1300x450/Hanoi_herobanner_chua_tran_quoc_1300x450.jpg', style='padding-bottom:20px; width:100%')
    .abc.container
        a.linkurl(href='/') Trang chủ &nbsp
        i.fas.fa-chevron-right
        a.linkurl(href='#2') &nbsp Khám phá &nbsp
        i.fas.fa-chevron-right
        span &nbsp Hà Nội
        .flex-container
            .flex-item1
                span.fas.fa-mountain(style='font-size:20px')
                a.linkurl(href='#c1') &nbsp Cảnh đẹp
            .flex-item1
                span.fas.fa-hamburger(style='font-size:20px')
                a.linkurl(href='#c2') &nbsp Ẩm thực
            .flex-item1
                span.fas.fa-running(style='font-size:20px')
                a.linkurl(href='#c3') &nbsp Hoạt động
            .flex-item1
                span.fas.fa-car(style='font-size:20px')
                a.linkurl(href='#c4') &nbsp Di chuyển
            .flex-item1
                span.far.fa-file-alt(style='font-size:20px')
                a.linkurl(href='#c5') &nbsp Thông tin hữu ích
        h2(style='text-align:center') Hà Nội – Thủ đô nghìn năm văn hiến
        p
            | Hà Nội nằm ở nơi con sông Hồng đỏ nặng phù sa chảy vào đồng bằng Bắc Bộ, là trung tâm chính trị, kinh tế, văn hoá của Việt Nam.
            | Từ bao đời nay, mảnh đất kinh kỳ luôn mang trong mình vẻ đẹp thơ mộng bên cạnh nét sôi động của chốn thị thành, lưu giữ hàng nghìn công trình kiến trúc đặc sắc gắn liền với lịch sử dân tộc.
            | Vẻ đẹp văn hóa Hà Nội hiển hiện qua cốt cách thanh lịch đáng quý của chính con người nơi đây.
        .row1
            .column
                p#c1(style='text-align:center')  Cảnh đẹp
                div(style='position:relative')
                    img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/HANOI/canh%20dep/1920x1080/Hanoi_canhdep_van_mieu_1920x1080.jpg', style='width:100%;border-radius:5px')
                    .imgtext(style='color:white') Văn miếu - Quốc Tử Giám
                .row1
                    .column1
                        div(style='position:relative')
                            img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/HANOI/canh%20dep/1920x1080/Hanoi_canhdep_dam_sen_1920x1080.jpg', style='width:100%;height:100%; padding-right:4px;border-radius:5px')
                            .imgtext(style='color:white') Đầm sen
                    .column1
                        div(style='position:relative')
                            img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/HANOI/canh%20dep/1920x1080/Hanoi_canhdep_hoang_thanh_thang_long_1920x1080.jpg', style='width:100%; height:100%;padding-left:4px;border-radius:5px')
                            .imgtext(style='color:white') Hoàng Thành Thăng Long
                p
                    strong Văn Miếu Quốc Tử Giám
                    | : Văn Miếu Quốc Tử Giám là trường đại học đầu tiên của Việt Nam - biểu tượng của tinh thần hiếu học. Tại đây lưu trữ hàng trăm tấm bia đá ghi danh các danh nhân khoa bảng của đất nước cách đây hàng thế kỷ.
                    | Đã thành tục lệ, hằng năm trước các kỳ thi trọng đại, các em học sinh sẽ đến đây để cầu cho thi cử đỗ đạt.
                    |
                    br
                    |
                    |
                    strong Hoàng Thành Thăng Long
                    | :  Giữa thủ đô hoa lệ, một quần thể kiến trúc cổ kính hiện lên với vẻ trang nghiêm, trầm mặc, đó là Hoàng thành Thăng Long.
                    | Nơi đây là kinh đô của nhiều triều đại trong lịch sử phong kiến Việt Nam, có hệ thống cung điện, thành quách nguy nga, đồ sộ: Đoan Môn, Bắc Môn, điện Kính Thiên, cột cờ Hà Nội…
                    |
                    br
                    |
                    |
                    strong Phố cổ
                    | :  Hà Nội 36 phố phường, đó là những phố cổ quanh hồ Hoàn Kiếm, thường có tên bắt đầu bằng chữ “Hàng” như: Hàng Mã, Hàng Bạc, Hàng Đào.
                    | Các con phố xưa kia được quy hoạch bởi người Pháp, nay đã trở thành nơi diễn ra nhiều hoạt động vui chơi, văn hóa, thể thao. Đến đây, bạn sẽ tìm thấy nhiều khách sạn, homestay, bar, pub, lounge, cà phê, hàng ăn cùng các cửa hàng lưu niệm.
                    |
                    br
                    |
                    |
                    strong Vườn quốc gia Ba Vì
                    | :  Di chuyển về ngoại thành, sẽ là một trải nghiệm tuyệt vời nếu bạn thăm thú vườn quốc gia Ba Vì.
                    | Đây là nơi nghỉ dưỡng lý tưởng với không khí trong lành, mát mẻ và thiên nhiên tươi đẹp. Vào tháng 11, sắc hoa dã quỳ nở vàng rực phủ kín triền đồi, vẽ nên khung cảnh đẹp đến nao lòng.
                    |
                    br
                    strong Chùa Hương
                    | : Chùa Hương là một trong những quần thể đền, chùa đồ sộ, linh thiêng bậc nhất tại Việt Nam.
                    | Tại đây, bạn sẽ được hòa mình vào không gian thanh tịnh nơi cửa Phật, tham gia nhiều hoạt động văn hóa như bơi thuyền, leo núi, hát văn...
            .column
                p#c2(style='text-align:center') Ẩm thực
                .row1
                    .column1
                        div(style='position:relative')
                            img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/HANOI/Am%20thuc/1920x1080/Hanoi_amthuc_com_1920x1080.jpg', style='width:100%;height:100%;padding-right:4px;border-radius:5px')
                            .imgtext(style='color:white') Cốm làng vòng
                    .column1
                        div(style='position:relative')
                            img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/HANOI/Am%20thuc/1920x1080/Hanoi_amthuc_bun_cha_1920x1080.jpg', style='width:100%;height:100%;padding-left:4px;border-radius:5px')
                            .imgtext(style='color:white') Bún chả
                |
                |
                div(style='position:relative')
                    img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/HANOI/Am%20thuc/1920x1080/Hanoi_amthuc_pho_bo_1920x1080.jpg', style='width:100%;padding-top:8px;border-radius:5px')
                    .imgtext(style='color:white') Phở bò
                |
                p
                    | Ẩm thực Hà Nội mang nét rất riêng bởi người Hà Nội xưa nay vốn cầu kỳ trong ăn uống, mùa nào thức nấy, tỉ mỉ trong phối hợp các món ăn và cách thưởng thức sao cho tròn vị.
                    | Có nhiều món ngon ở Hà Nội mà bạn nhất định phải thử như: phở, bún thang, cốm làng Vòng, chả cá Lã Vọng, bánh tôm Tây Hồ...
                    |
                    br
                    |
                    | Phở Hà Nội nổi tiếng là phở bò. Nước dùng nóng hổi, đậm đà vị ngọt với hương quế, hồi đặc trưng, sóng sánh giữa những sợi bánh trắng ngần, bùi dai và thịt bò mềm, ngọt. Khi thưởng thức, bạn rắc thêm ít hành lá, tương ớt, giấm hay chanh để nước dùng thanh, dậy vị hơn.
                    |
                    br
                    |
                    | Nếu phở là món ăn ấm nóng thì cốm là thức quà ngọt ngào của mùa thu, được làm từ hạt gạo non còn vương hương sữa. Hạt cốm xanh, mềm, bùi, thơm, khi ăn có độ dẻo, dai, vị ngọt thanh khiến thực khách khó lòng cưỡng lại.
    div(style='background-color:#f1f1f1;')
        p#c3(style='text-align:center;padding-top:30px') Hoạt động
        .ab
            p
                | Hà Nội có phố đi bộ Hồ Gươm mở từ tối thứ Sáu tới hết Chủ nhật. Đây là không gian văn hóa đường phố độc đáo, nơi bạn có thể tham gia các trò chơi dân gian thú vị như: nhảy dây, kéo co, đá cầu…, chiêm ngưỡng quá trình nặn tò he hay thưởng thức âm nhạc đường phố và truyền thống như: tuồng, chèo, múa rối nước…
                |
                br
                | Vào những ngày cuối tuần, bạn có thể dạo chợ đêm từ phố Hàng Đào đến chợ Đồng Xuân, ghé qua Tạ Hiện - khu phố ăn chơi nổi tiếng của giới trẻ - để nhâm nhi một vài cốc bia và tán dóc cùng bè bạn.
                |
                br
                | Bạn hãy dành một ngày để đạp xe du ngoạn quanh hồ Tây rồi dừng chân ngắm nhìn khung cảnh hoàng hôn thơ mộng. Ghé một quán cà phê ven hồ hay chơi đạp vịt là lựa chọn thú vị cho các buổi hẹn hò.
                |
                br
                | Nếu ưa thích các trò chơi vui nhộn, mạo hiểm, công viên Hồ Tây là nơi bạn có thể trải nghiệm những đường trượt nước xoắn ốc, vòng đu quay khổng lồ...             
    div
        .imgcontainer
            img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/HANOI/Hoat%20dong/1920x1080/Hanoi_hoatdong_xich_lo_1920x1080.jpg', style='width:100%; border-radius:5px; float:left')
        .imgcontainer
            img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/HANOI/Hoat%20dong/1920x1080/Hanoi_hoatdong_cafe_duong_tau_1920x1080.jpg', style='width:100%; border-radius:5px;float:left')
        .imgcontainer
            img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/HANOI/Hoat%20dong/1920x1080/Hanoi_hoatdong_gom_bat_trang_1920x1080.jpg', style='width:100%; border-radius:5px;float:left;')
    p#c4(style='text-align:center;font-size:24px;padding-top:20px') Di chuyển
    p.ab.container(style='padding-bottom:50px;')
        | Khi thực hiện chuyến bay đến Hà Nội, hành khách hạ cánh tại sân bay Nội Bài cách trung tâm thành phố khoảng 30km, mất 30 - 40 phút di chuyển. Xe buýt mini của Vietnam Airlines đợi khách tại nhà ga T1, giá vé 40.000 đồng/lượt, tần suất 30 - 45 phút/chuyến. Xe buýt thường có các tuyến 07 (Cầu Giấy - Nội Bài), 17 (Long Biên - Nội Bài), 90 (Kim Mã - Cầu Nhật Tân - Nội Bài), 86 (Ga Hà Nội - Bờ Hồ - Nội Bài) đón khách tại nhà ga T1, T2, giá vé 9.000 đồng/lượt, riêng xe 86 giá vé 30.000 đồng/lượt. Bạn cũng có thể bắt taxi ở khu vực nhà ga T1 và T2 với chi phí từ 250.000 đồng/lượt.
    .container1
        iframe.responsive-iframe(src='https://www.youtube.com/embed/Ko2ISrka0SQ')
    p#c5(style='text-align:center;font-size:24px;padding-bottom:40px;padding-top:40px') Thông tin hữu ích
    .abc.container
        p(style='font-size:22px')  Nơi ở
        p(style='margin-left:10px;margin-right:10px;text-align:justify')
            | Tùy thuộc vào nhu cầu nghỉ dưỡng hay du lịch tham quan, địa điểm mà bạn muốn tới…mà sẽ có được lựa chọn cho mình những khách sạn phù hợp nhất. Hiện nay, có 3 khu vực khách sạn được du khách lựa chọn nhiều nhất khi du lịch Hà Nội đó là: Khu vực quận Hoàn Kiếm, quận Ba Đình và quận Tây Hồ.
            | 
            br
            | Khu vực Hoàn Kiếm: Khách sạn ở khu vực này rất thuận tiện đi lại, gần điểm du lịch và yên tĩnh, cách hồ Hoàn Kiếm khoảng 5 phút đi bộ, rất gần các điểm tham quan nổi tiếng quanh khu vực như   Lăng Hồ Chí Minh (Ba Đình), chùa Một Cột, Văn Miếu… Đặc biệt là khu vực này được mệnh danh là trung tâm phố cổ, có rất nhiều nơi để vui chơi, giải trí và thư giãn.
            |
            br
            | Khu vực Ba Đình: Những khách sạn ở khu vực này rất thích hợp với du lịch nghỉ dưỡng và yên tĩnh, tuy nhiên các hoạt động vui chơi giải trí về đêm ở khu vực này không được nhộn nhịp như khu vực phố Cổ.
            |
            br
            | Khu vực Tây Hồ: Khu vực quận Tây Hồ là nơi tập trung rất nhiều khách sạn đẹp, cao cấp, khu vực này có không khí trong lành rất thích hợp với nghỉ dưỡng. Ở Tây hồ có Hồ Tây, đây là một hồ lớn nhất trung tâm Hà Nội, nơi tập trung nhiều địa điểm du lịch nổi tiếng của thủ đô như chùa Trấn Quốc, Phủ Tây Hồ, …
        
        p(style='font-size:22px')  Cẩm nang bỏ túi
        ul
            li
                | Mang theo bản đồ khi dạo quanh phố Cổ vì khu vực này đường rất ngắn nhưng lại lòng vòng nếu không tinh ý bạn rất dễ bị lạc ở đây.
            li
                | Chú ý chiều đón xe bus vì đa số đường xa ở Hà Nội là đường hai chiều mà lộ trình xe bus chiều đi và về nhiều tuyến rất khác nhau.
            li 
                | Khi đi các khu chợ ở Hà Nội mua sắm như chợ Đồng Xuân, chợ đêm Hàng Đào nhớ trả và thỏa thuận trước với người bán hàng.
            li
                | Khi du lịch Hà Nội vào mùa đông nhớ mang áo ấm vì thời tiết lúc này rất lạnh.
    #myModal.modal1.bg-light.shadow
        .modal-content
            .mySlides
                .numbertext 1 / 6
                img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/HANOI/canh%20dep/1920x1080/Hanoi_canhdep_van_mieu_1920x1080.jpg', style='width:100%')
            .mySlides
                .numbertext 2 / 6
                img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/HANOI/canh%20dep/1920x1080/Hanoi_canhdep_dam_sen_1920x1080.jpg', style='width:100%')
            .mySlides
                .numbertext 3 / 6
                img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/HANOI/canh%20dep/1920x1080/Hanoi_canhdep_hoang_thanh_thang_long_1920x1080.jpg', style='width:100%')
            .mySlides
                .numbertext 4 / 6
                img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/HANOI/Am%20thuc/1920x1080/Hanoi_amthuc_com_1920x1080.jpg', style='width:100%')
            .mySlides
                .numbertext 5 / 6
                img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/HANOI/Am%20thuc/1920x1080/Hanoi_amthuc_bun_cha_1920x1080.jpg', style='width:100%')
            .mySlides
                .numbertext 6 / 6
                img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/HANOI/Am%20thuc/1920x1080/Hanoi_amthuc_pho_bo_1920x1080.jpg', style='width:100%')
            a.linkurl.prev(onclick="plusSlides(-1)") &#x276E;
            a.linkurl.next(onclick="plusSlides(1)") &#x276F;
            .caption-container1
                p#caption
    script.
        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
        showSlides((slideIndex += n));
        }

        function currentSlide(n) {
        showSlides((slideIndex = n));
        }

        function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        var captionText = document.getElementById("caption");
        if (n > slides.length) {
            slideIndex = 1;
        }
        if (n < 1) {
            slideIndex = slides.length;
        }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        captionText.innerHTML = dots[slideIndex - 1].alt;
        }

        //- function openModal2() {
        //- document.getElementById("myModal2").style.display = "block";
        //- }

        //- function closeModal2() {
        //- document.getElementById("myModal2").style.display = "none";
        //- }

        //- var slideIndex2 = 1;
        //- showSlides2(slideIndex2);

        //- function plusSlides2(n) {
        //- showSlides2((slideIndex2 += n));
        //- }

        //- function currentSlide2(n) {
        //- showSlides2((slideIndex2 = n));
        //- }

        //- function showSlides2(n) {
        //- var i;
        //- var slides = document.getElementsByClassName("mySlides2");
        //- var dots = document.getElementsByClassName("demo");
        //- var captionText = document.getElementById("caption2");
        //- if (n > slides.length) {
        //-     slideIndex2 = 1;
        //- }
        //- if (n < 1) {
        //-     slideIndex2 = slides.length;
        //- }
        //- for (i = 0; i < slides.length; i++) {
        //-     slides[i].style.display = "none";
        //- }
        //- for (i = 0; i < dots.length; i++) {
        //-     dots[i].className = dots[i].className.replace(" active", "");
        //- }
        //- slides[slideIndex2 - 1].style.display = "block";
        //- dots[slideIndex2 - 1].className += " active";
        //- captionText.innerHTML = dots[slideIndex2 - 1].alt;
        //- }