extends ../general.pug
block content 
    img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/HeroBannerDestination/Vietnam/Herro%20banner/HCMC/Hero%20banner/1300x450/HCMC_herobanner_nha_tho_duc_ba_1300x450.jpg', style='padding-bottom:20px; width:100%')
    .abc.container
        a.linkurl(href='/') Trang chủ &nbsp
        i.fas.fa-chevron-right
        a.linkurl(href='#2') &nbsp Khám phá &nbsp
        i.fas.fa-chevron-right
        span &nbsp Hồ Chí Minh
        .flex-container
            .flex-item1
                span.fas.fa-mountain(style='font-size:20px')
                a.linkurl(href='#c1') &nbsp Cảnh đẹp
            .flex-item1
                span.fas.fa-hamburger(style='font-size:20px')
                a.linkurl(href='#c2') &nbsp Ẩm thực
            .flex-item1
                span.fas.fa-running(style='font-size:20px')
                a.linkurl(href='#c3') &nbsp Hoạt động
            .flex-item1
                span.fas.fa-car(style='font-size:20px')
                a.linkurl(href='#c4') &nbsp Di chuyển
            .flex-item1
                span.far.fa-file-alt(style='font-size:20px')
                a.linkurl(href='#c5') &nbsp Thông tin hữu ích
        h2(style='text-align:center') Thành phố Hồ Chí Minh – Đô thị sôi động
        p
            | Thành phố Hồ Chí Minh là đô thị lớn nhất Việt Nam - trung tâm chính trị, kinh tế, văn hoá của miền Nam.
            | Nơi đây được mệnh danh là “thành phố không ngủ” với nhịp sống sôi động và vẻ đẹp muôn màu của những ánh đèn neon về đêm.
            | Thành phố hoa lệ níu chân du khách bởi các công trình kiến trúc mang đậm dấu ấn phương Tây từ thế kỷ XIX cùng nhiều di tích lịch sử, văn hoá đặc sắc và thế giới ẩm thực phong phú, đa dạng.
        .row1
            .column
                p#c1(style='text-align:center')  Cảnh đẹp
                div(style='position:relative')
                    img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/HCMC/canh%20dep/1920x1080/HCMC_canhdep_bitexco_1920x1080.jpg', style='width:100%;border-radius:5px')
                    .imgtext(style='color:white') Tòa nhà Bitexco
                .row1
                    .column1
                        div(style='position:relative')
                            img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/HCMC/canh%20dep/1920x1080/HCMC_canhdep_buu_dien_thanh_pho_1920x1080.jpg', style='width:100%;height:100%; padding-right:4px;border-radius:5px')
                            .imgtext(style='color:white') Bưu điện thành phố
                    .column1
                        div(style='position:relative')
                            img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/HCMC/canh%20dep/1920x1080/HCMC_canhdep_nha_tho_duc_ba_1920x1080.jpg', style='width:100%; height:100%;padding-left:4px;border-radius:5px')
                            .imgtext(style='color:white') Nhà thờ Đức Bà
                p
                    strong Dinh Độc Lập
                    | : Dinh Độc Lập là di tích lịch sử gắn liền với nhiều sự kiện trọng đại của dân tộc. Ngày 15/11/1975, tại đây đã diễn ra Hội nghị Hiệp thương chính trị giữa đại biểu hai miền Nam - Bắc để bàn về vấn đề thống nhất Việt Nam, bởi thế còn được gọi là Dinh Thống Nhất.
                    |
                    br
                    |
                    |
                    strong Nhà thờ Đức Bà
                    | : Thành phố Hồ Chí Minh nổi tiếng với những công trình kiến trúc Pháp như: toà Ủy ban Nhân dân Thành, nhà thờ Đức Bà, nhà hát Thành phố, Bưu điện Thành phố… Nhà thờ Đức Bà mang phong cách kiến trúc Roman pha trộn Gothic, nổi bật với tường gạch đỏ và hai tháp chuông vươn lên cao vút giữa trời xanh.
                    |
                    br
                    |
                    |
                    strong Chùa Bửu Long
                    | : Bên cạnh các ngôi chùa truyền thống, một công trình tôn giáo độc đáo của nơi đây là chùa Bửu Long. Ngôi chùa là sự kết hợp hài hoà giữa văn hoá Thái Lan, Ấn Độ và Việt Nam, với màu trắng chủ đạo và đỉnh chóp vàng rực theo lối kiến trúc cung điện.
                    |
                    br
                    |
                    |
                    strong Rừng ngập mặn Cần Giờ
                    | : Rời xa đô thị sầm uất sẽ đến với không gian xanh thẳm của cánh rừng Cần Giờ - khu dự trữ sinh quyển bảo tồn hệ động, thực vật đa dạng điển hình của vùng ngập mặn. Từ trên đài quan sát trong rừng, bạn sẽ được ngắm nhìn rừng đước, tràm, dừa nước trải dài một màu xanh ngắt, xa xa là những cánh chim, cánh cò mải miết bay về tổ.
                    |
                    br
                    |
                    |
                    strong Địa đạo Củ Chi
                    | : Khám phá lịch sử nơi đây, bạn không thể bỏ qua một “mê cung trong lòng đất”, đó là địa đạo Củ Chi. Đây là căn cứ kháng chiến của quân dân Củ Chi trong những năm kháng chiến chống Mỹ, gồm hệ thống đường hầm dài hơn 200km toả rộng như mạng nhện dưới lòng đất và các chiến hào, ổ chiến đấu, các phòng chức năng.
            .column
                p#c2(style='text-align:center') Ẩm thực
                .row1
                    .column1
                        div(style='position:relative')
                            img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/HCMC/Am%20thuc/1920x1080/HCMC_amthuc_banh_my_1920x1080.jpg', style='width:100%;height:100%;padding-right:4px;border-radius:5px')
                            .imgtext(style='color:white') Bánh mỳ
                    .column1
                        div(style='position:relative')
                            img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/HCMC/Am%20thuc/1920x1080/HCMC_amthuc_com_tam_1920x1080.jpg', style='width:100%;height:100%;padding-left:4px;border-radius:5px')
                            .imgtext(style='color:white') Cơm tấm
                |
                |
                div(style='position:relative')
                    img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/HCMC/Am%20thuc/1920x1080/HCMC_amthuc_nem_cuon_1920x1080.jpg', style='width:100%;padding-top:8px;border-radius:5px')
                    .imgtext(style='color:white') Nem cuốn
                |
                p
                    | Thành phố Hồ Chí Minh là thiên đường ẩm thực với vô vàn món ngon, hội tụ văn hoá ẩm thực từ nhiều vùng miền trên cả nước. Đến đây, bạn nhất định phải thử đặc sản cơm tấm Sài Gòn, hủ tiếu Nam Vang, bò tơ Củ Chi.
                    |
                    br
                    |
                    | Món cơm tấm tuy bình dị mà lại gói gọn tinh hoa ẩm thực nơi đây. Cơm được nấu từ hạt tấm - phần đầu của hạt gạo, khi nấu chín có hương vị thơm, ngọt, tơi xốp, ăn kèm sườn heo, bì heo, chả, trứng ốp la và vài lát cà chua, dưa chuột. Sườn heo nướng thơm phức, vị chua ngọt đậm đà khó cưỡng.
                    |
                    br
                    |
                    | Dạo một vòng thành phố, bạn sẽ bắt gặp nhiều hàng bánh xèo, bánh tráng, ốc đủ món, trứng cút nướng phô mai… Miếng bánh xèo Nam Bộ vàng ươm, giòn rụm, bên trong là nhân thịt heo, tôm và giá đỗ thơm phức, khi ăn cuộn với rau tươi rồi chấm nước mắm. Hương vị bùi ngậy, đậm đà của bánh kết hợp với vị thanh mát từ rau tươi cùng chút chua cay, ngọt dịu của nước chấm.

    div(style='background-color:#f1f1f1;')
        p#c3(style='text-align:center;padding-top:30px') Hoạt động
        .ab
            p
                | Du lịch Thành phố Hồ Chí Minh, bạn hãy dành một buổi tối ngồi thuyền du ngoạn trên sông Sài Gòn, ngắm nhìn khung cảnh lãng mạn của thành phố về đêm với những ngôi nhà cao chọc trời lấp lánh ánh đèn.
                |
                br
                | Dạo chơi quanh hồ Con Rùa, trên phố đi bộ Nguyễn Huệ, Bùi Viện vào những ngày cuối tuần, bạn sẽ được tham gia các trò chơi dân gian như: nhảy dây, ô ăn quan và thưởng thức các tiết mục nghệ thuật: ca hát, tuồng, chèo… Tại đây tập trung nhiều hàng ăn, bar, pub, khách sạn, cửa hàng lưu niệm, là địa điểm diễn ra nhiều sự kiện văn hoá, thể thao lớn của thành phố.
                |
                br
                | Bạn có thể ghé chơi công viên Đầm Sen, thảo cầm viên Sài Gòn hay khu du lịch Suối Tiên, Vàm Sát. Hãy đến Đầm Sen thử sức với các trò chơi cảm giác mạnh (tàu lượn siêu tốc, vượt thác…) và chiêm ngưỡng nhiều loài động vật quý hiếm như: đười ươi Sumatra, vượn má vàng, giang sen, cá hải tượng… Tới khu du lịch sinh thái Vàm Sát, bạn sẽ được ngồi xuồng xuyên rừng ngập mặn, tham quan khu bảo tồn Dơi nghệ, câu cua, câu cá sấu...
    div
        .imgcontainer
            img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/HCMC/Hoat%20dong/1920x1080/HCMC_hoatdong_du_thuyen_1920x1080.jpg', style='width:100%; border-radius:5px; float:left')
        .imgcontainer
            img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/HCMC/Hoat%20dong/1920x1080/HCMC_hoatdong_pho_nguyen_hue_1920x1080.jpg', style='width:100%; border-radius:5px;float:left')
        .imgcontainer
            img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/HCMC/Hoat%20dong/1920x1080/HCMC_hoatdong_pho_bui_vien_1920x1080.jpg', style='width:100%; border-radius:5px;float:left;')
    p#c4(style='text-align:center;font-size:24px;padding-top:20px') Di chuyển
    p.ab.container(style='padding-bottom:50px;')
        | Chuyến bay đến Thành phố Hồ Chí Minh sẽ hạ cánh tại sân bay Tân Sơn Nhất, cách trung tâm thành phố khoảng 8km, mất 20 - 30 phút di chuyển.
        |
        br
        | Bạn có thể bắt xe buýt tại cột số 12 (ga quốc tế) hoặc cột số 18 (ga quốc nội), tần suất mỗi tuyến từ 20 - 30 phút/chuyến. Có 4 tuyến xe buýt là tuyến 152 (Sân bay Tân Sơn Nhất - Chợ Bến Thành - Khu dân cư Trung Sơn, từ 5h45 - 18h15, giá vé 6.000 đồng), tuyến 109 (Sân bay Tân Sơn Nhất - Công viên 23/9, từ 5h30 - 0h30, giá vé 12.000, 20.000 đồng), tuyến 119 (Sân bay Tân Sơn Nhất - Bến xe miền Tây, 4h - 21h, giá vé 12.000, 20.000 đồng), tuyến 49 (Sân bay Tân Sơn Nhất – Khu trung tâm thành phố (quận 1, quận 2), 5h30  - 1h30 hôm sau, giá vé 40.000 đồng).
        |
        br
        |Taxi đón khách tại cửa ra của sảnh lớn, chi phí từ 100.000 - 200.000 đồng/lượt. Bạn có thể di chuyển ra khỏi sân bay, qua đường Trường Sơn để bắt xe ôm hoặc xích lô, chi phí từ 40.000 - 50.000 đồng/lượt.
    .container1
        iframe.responsive-iframe(src='https://www.youtube.com/embed/jopNYZZEDus')
    p#c5(style='text-align:center;font-size:24px;padding-bottom:40px;padding-top:40px') Thông tin hữu ích
    .abc.container
        p(style='font-size:22px')  Nơi ở
        p(style='margin-left:10px;margin-right:10px;text-align:justify')
            | Đến thăm du lịch Sài Gòn bạn luôn có rất nhiều sự lựa chọn về các khách sạn theo các tiêu chí khác như như: sang trọng, tiện nghi, đẹp, rẻ, phòng tình nhân… Một số khách sạn nổi bật tại Sài Gòn như:
            | Khách sạn Majestic Sài Gòn, Khách sạn Grand Saigon, Khách sạn Pullman Saigon Centre, Khách sạn Victory, Khách sạn Đệ Nhất, Muong Thanh Saigon Centre Hotel...
        
        p(style='font-size:22px')  Cẩm nang bỏ túi
        ul
            li
                | Khi đi ra ngoài đường nhớ cất túi xách, trang sức có giá trị trong xe / trong người phòng cướp giật, móc túi.
            li
                | Quần áo, giày dép chỉ nên mang đủ cho những ngày bạn ở thành phố. Nếu thiếu có thể mua ở các chợ, giá cả khá phải chăng.
            li 
                | Nên chuẩn bị sẵn thuốc men và một số đồ dùng cá nhân cần thiết.
            li
                | Khi mua bán, ăn uống gì thì hãy mặc cả trước.
            li 
                | Khi lên taxi thì hãy theo dõi đồng hồ tính tiền.
            li 
                | Hãy mang theo ô, áo mưa và áo chống nắng nhé.
            li 
                | Khi đi xe bus hãy cần thận đồ cá nhân, đề phòng móc túi. Nhất là những tuyến xe bus đông.
    #myModal.modal1.bg-light.shadow
        .modal-content
            .mySlides
                .numbertext 1 / 6
                img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/HCMC/canh%20dep/1920x1080/HCMC_canhdep_bitexco_1920x1080.jpg', style='width:100%')
            .mySlides
                .numbertext 2 / 6
                img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/HCMC/canh%20dep/1920x1080/HCMC_canhdep_buu_dien_thanh_pho_1920x1080.jpg', style='width:100%')
            .mySlides
                .numbertext 3 / 6
                img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/HCMC/canh%20dep/1920x1080/HCMC_canhdep_nha_tho_duc_ba_1920x1080.jpg', style='width:100%')
            .mySlides
                .numbertext 4 / 6
                img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/HCMC/Am%20thuc/1920x1080/HCMC_amthuc_banh_my_1920x1080.jpg', style='width:100%')
            .mySlides
                .numbertext 5 / 6
                img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/HCMC/Am%20thuc/1920x1080/HCMC_amthuc_com_tam_1920x1080.jpg', style='width:100%')
            .mySlides
                .numbertext 6 / 6
                img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/HCMC/Am%20thuc/1920x1080/HCMC_amthuc_nem_cuon_1920x1080.jpg', style='width:100%')
            a.linkurl.prev(onclick="plusSlides(-1)") &#x276E;
            a.linkurl.next(onclick="plusSlides(1)") &#x276F;
            .caption-container1
                p#caption
    script.
        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
        showSlides((slideIndex += n));
        }

        function currentSlide(n) {
        showSlides((slideIndex = n));
        }

        function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        var captionText = document.getElementById("caption");
        if (n > slides.length) {
            slideIndex = 1;
        }
        if (n < 1) {
            slideIndex = slides.length;
        }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        captionText.innerHTML = dots[slideIndex - 1].alt;
        }

        //- function openModal2() {
        //- document.getElementById("myModal2").style.display = "block";
        //- }

        //- function closeModal2() {
        //- document.getElementById("myModal2").style.display = "none";
        //- }

        //- var slideIndex2 = 1;
        //- showSlides2(slideIndex2);

        //- function plusSlides2(n) {
        //- showSlides2((slideIndex2 += n));
        //- }

        //- function currentSlide2(n) {
        //- showSlides2((slideIndex2 = n));
        //- }

        //- function showSlides2(n) {
        //- var i;
        //- var slides = document.getElementsByClassName("mySlides2");
        //- var dots = document.getElementsByClassName("demo");
        //- var captionText = document.getElementById("caption2");
        //- if (n > slides.length) {
        //-     slideIndex2 = 1;
        //- }
        //- if (n < 1) {
        //-     slideIndex2 = slides.length;
        //- }
        //- for (i = 0; i < slides.length; i++) {
        //-     slides[i].style.display = "none";
        //- }
        //- for (i = 0; i < dots.length; i++) {
        //-     dots[i].className = dots[i].className.replace(" active", "");
        //- }
        //- slides[slideIndex2 - 1].style.display = "block";
        //- dots[slideIndex2 - 1].className += " active";
        //- captionText.innerHTML = dots[slideIndex2 - 1].alt;
        //- }