extends ../general.pug
block content 
    img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/HeroBannerDestination/Vietnam/Herro%20banner/PHUQUOC/Hero%20banner/1300x450/Phuquoc_bai_bien_phuquoc_1300x450.jpg', style='padding-bottom:20px; width:100%')
    .abc.container
        a.linkurl(href='/') Trang chủ &nbsp
        i.fas.fa-chevron-right
        a.linkurl(href='#2') &nbsp Khám phá &nbsp
        i.fas.fa-chevron-right
        span &nbsp Phú Quốc
        .flex-container
            .flex-item1
                span.fas.fa-mountain(style='font-size:20px')
                a.linkurl(href='#c1') &nbsp Cảnh đẹp
            .flex-item1
                span.fas.fa-hamburger(style='font-size:20px')
                a.linkurl(href='#c2') &nbsp Ẩm thực
            .flex-item1
                span.fas.fa-running(style='font-size:20px')
                a.linkurl(href='#c3') &nbsp Hoạt động
            .flex-item1
                span.fas.fa-car(style='font-size:20px')
                a.linkurl(href='#c4') &nbsp Di chuyển
            .flex-item1
                span.far.fa-file-alt(style='font-size:20px')
                a.linkurl(href='#c5') &nbsp Thông tin hữu ích
        h2(style='text-align:center') Phú Quốc - Hòn Ngọc Quý
        p
            | Nằm ở phía Tây Nam Việt Nam, trong vùng vịnh Thái Lan, đảo Phú Quốc được mệnh danh là hòn ngọc quý của Việt Nam.
            | Vẻ đẹp thơ mộng, yên bình hiện hữu trong làn nước biển trong veo màu ngọc bích, những bãi cát trải dài trắng xóa in bóng rặng dừa xanh cùng các rạn san hô rực rỡ sắc màu và khu rừng nguyên sinh xanh thẳm.
            | Giữa khung cảnh thiên nhiên, hình ảnh con người hiện lên bình dị, chân chất ở nơi làng chài, bên những vườn hồ tiêu xanh bạt ngàn.
        .row1
            .column
                p#c1(style='text-align:center')  Cảnh đẹp
                div(style='position:relative')
                    img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/PHUQUOC/canh%20dep/1920x1080/Phuquoc_canhdep_cau_go_1920x1080.jpg', style='width:100%;border-radius:5px')
                    .imgtext(style='color:white') Cầu gỗ trên biển
                .row1
                    .column1
                        div(style='position:relative')
                            img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/PHUQUOC/canh%20dep/1920x1080/Phuquoc_canhdep_bai_bien_1920x1080.jpg', style='width:100%;height:100%; padding-right:4px;border-radius:5px')
                            .imgtext(style='color:white') Biển Phú Quốc
                    .column1
                        div(style='position:relative')
                            img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/PHUQUOC/canh%20dep/1920x1080/Phuquoc_canhdep_vuon_ho_tieu_1920x1080.jpg', style='width:100%; height:100%;padding-left:4px;border-radius:5px')
                            .imgtext(style='color:white') Vườn hồ tiêu
                p
                    strong Bãi Trường
                    | : Ẩm thực Phú Quốc nổi tiếng với các món ăn từ hải sản tươi ngon, bổ dưỡng như tôm hùm hấp, ghẹ hấp sả, cháo hải sâm, cầu gai nướng, bào ngư nướng, cá sòng, canh nấm tràm hải sản, cá mú nướng mọi, gỏi cá trích…
                    |
                    br
                    |
                    |
                    strong Vườn Quốc gia Phú Quốc
                    | :  Nằm ở phía Đông Bắc đảo là vườn quốc gia Phú Quốc. Giữa khu rừng nguyên sinh xanh thẳm, thấp thoáng dòng suối trong veo, thác nước trắng xóa cùng nhiều loài động vật quý hiếm. Tại đây có ba dãy núi lớn là Hàm Ninh, Hàm Rồng và Gành Dầu với đường bờ biển uốn lượn tuyệt đẹp.
                    |
                    br
                    |
                    |
                    strong Làng chài Hàm Ninh
                    | :  Dưới chân núi Hàm Ninh có một làng chài nằm tĩnh lặng dưới ánh chiều tà đỏ rực. Từ những mái nhà nhấp nhô ven bờ, những nhà bè lênh đênh giữa biển khơi, người dân chài bước lên ghe, thuyền, bắt đầu hành trình chạy đua trên sóng cả, thu vớt các sản vật của vùng biển.
                    |
                    br
                    |
                    |
                    strong Nhà tù Phú Quốc
                    | : Phú Quốc không chỉ có thiên nhiên tươi đẹp mà còn ẩn dấu những giá trị lịch sử, văn hóa sâu đậm. Nhà tù Phú Quốc là nơi giam giữ chiến sĩ cách mạng Việt Nam trong thời kỳ kháng chiến chống Mỹ, được ví như địa ngục trần gian với nhiều hình thức tra tấn man rợ. Hiện nay, những đòn tra tấn ấy được tái hiện lại qua các mô hình tượng sáp, khiến du khách thổn thức khôn nguôi.
            .column
                p#c2(style='text-align:center') Ẩm thực
                .row1
                    .column1
                        div(style='position:relative')
                            img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/PHUQUOC/Am%20thuc/1920x1080/Phuquoc_amthuc_cau_gai_1920x1080.jpg', style='width:100%;height:100%;padding-right:4px;border-radius:5px')
                            .imgtext(style='color:white') Cầu gai
                    .column1
                        div(style='position:relative')
                            img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/PHUQUOC/Am%20thuc/1920x1080/Phuquoc_amthuc_hai_san_1920x1080.jpg', style='width:100%;height:100%;padding-left:4px;border-radius:5px')
                            .imgtext(style='color:white') Hải sản
                |
                |
                div(style='position:relative')
                    img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/PHUQUOC/Am%20thuc/1920x1080/Phuquoc_amthuc_oc_mat_ngoc_1920x1080.jpg', style='width:100%;padding-top:8px;border-radius:5px')
                    .imgtext(style='color:white') Ốc mắt ngọc
                |
                p
                    | Ẩm thực Phú Quốc nổi tiếng với các món ăn từ hải sản tươi ngon, bổ dưỡng như tôm hùm hấp, ghẹ hấp sả, cháo hải sâm, cầu gai nướng, bào ngư nướng, cá sòng, canh nấm tràm hải sản, cá mú nướng mọi, gỏi cá trích…
                    |
                    br
                    |
                    | Phú Quốc có một đặc sản ngon từ biển, đó là nước mắm, được làm từ những con cá cơm thơm ngon nhất. Mắm Phú Quốc có màu nâu đỏ sậm, mùi thơm nhẹ đặc trưng và hương vị mặn, ngọt đậm cùng vị ngậy tự nhiên từ cá cơm. Mắm dùng làm gia vị, đem đến sự thơm ngon, đậm đà rất riêng.
                    |
                    br
                    |
                    | Dạo quanh Phú Quốc, bạn còn được thưởng thức nhiều món ngon như: bún kèn, gà rẫy tiềm ớt xanh, bánh bò thốt nốt, bánh khéo, bánh canh chả cá, rượu sim…
                    | Bún kèn là món ăn phổ biến trong các gia đình Phú Quốc, được nấu từ cá nhàu hay cá ngân, dầm nhuyễn rồi chiên tỏi thơm phức.
                    | Vị ngọt thanh của cá, thơm ngậy của nước cốt dừa điểm xuyết chút hăng cay của ớt, tất cả tạo nên bữa tiệc vị giác tuyệt vời cho mọi thực khách.
    div(style='background-color:#f1f1f1;')
        p#c3(style='text-align:center;padding-top:30px') Hoạt động
        .ab
            p
                | Du lịch Phú Quốc, bên cạnh hoạt động ngắm biển, bạn sẽ được thử sức với các hoạt động thú vị như chèo thuyền kayak, lướt mô-tô nước, lướt ván và đặc biệt là lặn ngắm san hô tại quần đảo An Thới.
                |
                br
                | Vinwondes Phú Quốc là địa điểm vui chơi lý tưởng cho các nhóm bạn, gia đình với nhiều hoạt động vui chơi được chia ra theo chủ đề như: khu cảm giác mạnh, công viên nước, lâu đài trung tâm, khu cổ tích, khu Viking.
                |
                br
                | Nếu bạn yêu động vật, đừng bỏ qua Vinpearl Safari Phú Quốc - công viên sở thú hoang dã bảo tồn hơn 3.000 cá thể động vật thuộc nhiều sinh cảnh trên thế giới.
                | Bạn có thể chiêm ngưỡng cá loài thú từ nhiều châu lục như hổ Bengal, linh dương Ả Rập, linh dương sừng xoắn, vượn cáo trắng đen…
                |
                br
                | Hãy đến với trại chó Phú Quốc để ngắm nhìn giống chó xoáy quý hiếm của Việt Nam.
                | Bạn sẽ được chiêm ngưỡng cảnh chó nhặt rác, xếp chữ và đặc biệt là đua chó địa hình. Trường đua của những chú chó được thiết kế với nhiều thử thách như băng rừng, lội suối, vượt rào…
                |
                br
                | Đến Phú Quốc vào những ngày cuối tháng 12, đầu tháng 1, bạn còn có cơ hội tham gia Epizode Festival - lễ hội âm nhạc biển lớn nhất Đông Nam Á.
    div
        .imgcontainer
            img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/PHUQUOC/hot%20ng/1920x1080/Phuquoc_hoatdong_cho_dem_1920x1080.jpg', style='width:100%; border-radius:5px; float:left')
        .imgcontainer
            img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/PHUQUOC/hot%20ng/1920x1080/Phuquoc_hoatdong_lan_ngam_san_ho_1920x1080.jpg', style='width:100%; border-radius:5px;float:left')
        .imgcontainer
            img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/PHUQUOC/hot%20ng/1920x1080/Phuquoc_hoatdong_thuyen_thung_1920x1080.jpg', style='width:100%; border-radius:5px;float:left;')
    p#c4(style='text-align:center;font-size:24px;padding-top:20px') Di chuyển
    p.ab.container(style='padding-bottom:50px;')
        | Hành khách thực hiện chuyến bay đến Phú Quốc sẽ hạ cánh tại sân bay Phú Quốc, cách trung tâm (thị trấn Dương Đông) khoảng 14km, mất 30 phút di chuyển. Xe bus đón khách ở bãi xe sân bay với giá vé 20.000 đồng/lượt, hoạt động từ 6 giờ đến 18 giờ, tần suất 20 phút/chuyến. Bạn có thể bắt xe ôm ở bãi giữ xe ngoài trời bên phải cổng sân bay với giá từ 60.000 - 70.000 đồng/lượt, hoặc đi taxi với chi phí từ 180.000 - 200.000 đồng/lượt. Hiện nay cách đơn vị du lịch có cung cấp dịch vụ thuê xe đưa đón sân bay, chi phí từ 200.000 lượt tùy vào loại xe.
    .container1
        iframe.responsive-iframe(src='https://www.youtube.com/embed/5PsCX2h6VJ4')
    p#c5(style='text-align:center;font-size:24px;padding-bottom:40px;padding-top:40px') Thông tin hữu ích
    .abc.container
        p(style='font-size:22px')  Nơi ở
        p(style='margin-left:10px;margin-right:10px;text-align:justify')
            | Có vô số lựa chọn Resort và khách sạn với mọi loại hình du lịch, từ khu cắm trại bên bãi biển, nhà nghỉ sang trọng cho đến các khu nghỉ mát đẳng cấp 5 sao, homestay…cho du khách lựa chọn trong những ngày nghỉ dưỡng ở Phú Quốc. 
            | Những khách sạn thuộc khu vực Bãi Dài là lựa chọn tuyệt vời cho các du khách, vì nó gần thị trấn Dương Đông vừa có nhiều lựa chọn ăn uống vừa nằm ở trung tâm nên sẽ thuận tiện trong việc khám phá hòn đảo. Phía nam của Bãi Dài là những khu nghỉ mát và biệt thự sang trọng. Hoặc nếu bạn di chuyển xa hơn về phía bắc của thị trấn Dương Đông, bạn sẽ khám phá làng Bãi Dài, nơi tập trung rất nhiều Tây ba lô làm nên vẻ đặc trưng của hòn đảo.
        
        p(style='font-size:22px')  Cẩm nang bỏ túi
        ul
            li
                | Kem chống nắng là vật dụng không thể thiếu trong chuyến du lịch Phú Quốc, bạn có thể thỏa thê vi vu cả ngày mà làn da vẫn được bảo vệ khỏi những tia cực tím .
            li
                | Đến với Phú Quốc thì thích thú nhất chính là được đắm mình trong dòng nước biển mát lạnh. Hãy nhớ mang theo đồ tắm, khăn tắm, vật dụng cá nhân liên quan để tiết kiệm chi  phí thuê đồ.
            li 
                | Ở Phú Quốc nhiều muỗi nên hãy nhớ mang theo cả kem chống côn trùng nữa nhé.
            li
                | Đến với Phú Quốc, vùng đất của biển xanh cát trắng thì phụ kiện nên mang chính là những đôi dép xỏ ngón, tốt nhất là dép cói để dễ dàng lướt trên cát và thật sành điệu bạn nhé.
    #myModal.modal1.bg-light.shadow
        .modal-content
            .mySlides
                .numbertext 1 / 6
                img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/PHUQUOC/canh%20dep/1920x1080/Phuquoc_canhdep_cau_go_1920x1080.jpg', style='width:100%')
            .mySlides
                .numbertext 2 / 6
                img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/PHUQUOC/canh%20dep/1920x1080/Phuquoc_canhdep_bai_bien_1920x1080.jpg', style='width:100%')
            .mySlides
                .numbertext 3 / 6
                img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/PHUQUOC/canh%20dep/1920x1080/Phuquoc_canhdep_vuon_ho_tieu_1920x1080.jpg', style='width:100%')
            .mySlides
                .numbertext 4 / 6
                img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/PHUQUOC/Am%20thuc/1920x1080/Phuquoc_amthuc_cau_gai_1920x1080.jpg', style='width:100%')
            .mySlides
                .numbertext 5 / 6
                img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/PHUQUOC/Am%20thuc/1920x1080/Phuquoc_amthuc_hai_san_1920x1080.jpg', style='width:100%')
            .mySlides
                .numbertext 6 / 6
                img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/PHUQUOC/Am%20thuc/1920x1080/Phuquoc_amthuc_oc_mat_ngoc_1920x1080.jpg', style='width:100%')
            a.linkurl.prev(onclick="plusSlides(-1)") &#x276E;
            a.linkurl.next(onclick="plusSlides(1)") &#x276F;
            .caption-container1
                p#caption
    script.
        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
        showSlides((slideIndex += n));
        }

        function currentSlide(n) {
        showSlides((slideIndex = n));
        }

        function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        var captionText = document.getElementById("caption");
        if (n > slides.length) {
            slideIndex = 1;
        }
        if (n < 1) {
            slideIndex = slides.length;
        }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        captionText.innerHTML = dots[slideIndex - 1].alt;
        }

        //- function openModal2() {
        //- document.getElementById("myModal2").style.display = "block";
        //- }

        //- function closeModal2() {
        //- document.getElementById("myModal2").style.display = "none";
        //- }

        //- var slideIndex2 = 1;
        //- showSlides2(slideIndex2);

        //- function plusSlides2(n) {
        //- showSlides2((slideIndex2 += n));
        //- }

        //- function currentSlide2(n) {
        //- showSlides2((slideIndex2 = n));
        //- }

        //- function showSlides2(n) {
        //- var i;
        //- var slides = document.getElementsByClassName("mySlides2");
        //- var dots = document.getElementsByClassName("demo");
        //- var captionText = document.getElementById("caption2");
        //- if (n > slides.length) {
        //-     slideIndex2 = 1;
        //- }
        //- if (n < 1) {
        //-     slideIndex2 = slides.length;
        //- }
        //- for (i = 0; i < slides.length; i++) {
        //-     slides[i].style.display = "none";
        //- }
        //- for (i = 0; i < dots.length; i++) {
        //-     dots[i].className = dots[i].className.replace(" active", "");
        //- }
        //- slides[slideIndex2 - 1].style.display = "block";
        //- dots[slideIndex2 - 1].className += " active";
        //- captionText.innerHTML = dots[slideIndex2 - 1].alt;
        //- }

