extends ../general.pug
block content 
    img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/HeroBannerDestination/Vietnam/Herro%20banner/HANOI/Hero%20banner/1300x450/Hanoi_herobanner_chua_tran_quoc_1300x450.jpg', style='padding-bottom:20px; width:100%')
    .abc.container
        a.linkurl(href='/') Trang chủ &nbsp
        i.fas.fa-chevron-right
        a.linkurl(href='#2') &nbsp Khám phá &nbsp
        i.fas.fa-chevron-right
        span &nbsp Quy Nhơn
        .flex-container
            .flex-item1
                span.fas.fa-mountain(style='font-size:20px')
                a.linkurl(href='#c1') &nbsp Cảnh đẹp
            .flex-item1
                span.fas.fa-hamburger(style='font-size:20px')
                a.linkurl(href='#c2') &nbsp Ẩm thực
            .flex-item1
                span.fas.fa-running(style='font-size:20px')
                a.linkurl(href='#c3') &nbsp Hoạt động
            .flex-item1
                span.fas.fa-car(style='font-size:20px')
                a.linkurl(href='#c4') &nbsp Di chuyển
            .flex-item1
                span.far.fa-file-alt(style='font-size:20px')
                a.linkurl(href='#c5') &nbsp Thông tin hữu ích
        h2(style='text-align:center') Quy Nhơn - Vẻ đẹp bình dị say đắm lòng người
        p
            | Quy Nhơn là một trong số ít những thành phố biển sở hữu nét đẹp hoang sơ và bình dị đi vào lòng người.
            | Được ví như “Maldives thu nhỏ giữa lòng miền Trung”, Quy Nhơn được thiên nhiên ban tặng những dãy núi hùng vĩ, bãi cát trắng mịn trải dài và biển cả trong xanh.
            | Nơi đây chứa đựng nhiều dấu tích của nền văn hóa Chăm-pa cổ tồn tại hàng thế kỷ với các công trình đền tháp Chăm-pa độc đáo, lưu giữ giá trị tôn giáo, tín ngưỡng đặc sắc.
        .row1
            .column
                p#c1(style='text-align:center')  Cảnh đẹp
                div(style='position:relative')
                    img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/QUYNHON/canh%20dep/1920x1080/Quynhon_canhdep_duong_tau_1920x1080.jpg', style='width:100%;border-radius:5px')
                    .imgtext(style='color:white') Đường tàu
                .row1
                    .column1
                        div(style='position:relative')
                            img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/QUYNHON/canh%20dep/1920x1080/Quynhon_canhdep_dam_thi_nai_1920x1080.jpg', style='width:100%;height:100%; padding-right:4px;border-radius:5px')
                            .imgtext(style='color:white') Đầm Thị Nại
                    .column1
                        div(style='position:relative')
                            img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/QUYNHON/canh%20dep/1920x1080/Quynhon_canhdep_danh_bat_hai_san_1920x1080.jpg', style='width:100%; height:100%;padding-left:4px;border-radius:5px')
                            .imgtext(style='color:white') Đánh bắt hải sản
                p
                    strong Eo Gió
                    | : Eo Gió là một eo biển nhỏ được che chắn bởi hai dãy núi. Men theo con đường quanh co, uốn lượn với những rào chắn màu trắng, đỏ nổi bật bên sường núi, bạn có thể chiêm ngưỡng cảnh sắc thiên nhiên tươi đẹp với những bãi đá nhấp nhô và biển cả mênh mông.
                    |
                    br
                    |
                    |
                    strong Đảo Kỳ Co
                    | : Đặt chân lên đảo Kỳ Co, bạn sẽ lạc bước giữa khung cảnh thơ mộng. Dưới ánh nắng, Kỳ Co hiện lên với làn nước biển màu xanh ngọc bích, long lanh và trong vắt thấy đáy, cùng những làn sóng gợn êm đềm và bờ biển trải dài cát trắng. Khi thủy triều lên, nước dâng vào giữa các phiến đá, tạo thành những hồ bơi nhân tạo tuyệt đẹp.
                    |
                    br
                    |
                    |
                    strong Đồi cát Phương Mai
                    | : Trải dài trên diện tích rộng lớn với địa hình thoai thoải, đồi cát Phương Mai hiện lên với mảng màu vàng mênh mông, uốn lượn như những con sóng. Hình dạng vân cát không cố định mà phụ thuộc vào gió biển, nên mỗi lần đến đây bạn sẽ thấy sự thay đổi diệu kỳ của thiên nhiên. Đêm xuống, trên bầu trời lấp lánh muôn nghìn sao, vẽ nên khung cảnh lãng mạn cho những buổi hẹn hò.
                    |
                    br
                    |
                    |
                    strong Tháp Đôi
                    | : Tháp Đôi Quy Nhơn là công trình đền tháp Chăm-pa độc đáo có lịch sử hình thành từ thế kỷ XI - XIII - điểm đến ấn tượng với những ai ưa thích tìm hiểu văn hóa. Đây là 2 tòa tháp đứng cạnh nhau, một cao một thấp, bao quanh là thảm cỏ và những hàng cây xanh rợp bóng. Thông thường một cụm tháp Chăm-pa cổ thường có 3 tháp, tuy nhiên ở đây chỉ có 2 tháp, vẫn là điều bí ẩn mà chưa ai giải mã được.
            .column
                p#c2(style='text-align:center') Ẩm thực
                .row1
                    .column1
                        div(style='position:relative')
                            img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/QUYNHON/Am%20thuc/1920x1080/Quynhon_amthuc_banh_hoi_1920x1080.jpg', style='width:100%;height:100%;padding-right:4px;border-radius:5px')
                            .imgtext(style='color:white') Bánh hỏi
                    .column1
                        div(style='position:relative')
                            img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/QUYNHON/Am%20thuc/1920x1080/Quynhon_amthuc_banh_hoi_thit_nuong_1920x1080.jpg', style='width:100%;height:100%;padding-left:4px;border-radius:5px')
                            .imgtext(style='color:white') Bánh hỏi thịt nướng
                |
                |
                div(style='position:relative')
                    img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/QUYNHON/Am%20thuc/1920x1080/Quynhon_amthuc_banh_xeo_tom_nhay_1920x1080.jpg', style='width:100%;padding-top:8px;border-radius:5px')
                    .imgtext(style='color:white') Bánh xèo tôm nhảy
                |
                p
                    | Quy Nhơn là thiên đường ẩm thực với các loài hải sản tươi ngon và những món ăn đặc sắc mà hiếm nơi nào có như: bánh hỏi cháo lòng, bánh xèo tôm nhảy, canh da heo, chả ram tôm đất, bánh ít lá gai, bún cá, bún sứa, nem nướng, bánh mì lagu.
                    |
                    br
                    |
                    | Những miếng bánh xèo tôm nhảy vàng óng với nhân là những con tôm đất tròn mẩy, chấm với thứ nước chấm đặc biệt và ăn kèm rau thơm. Mới cắn một miếng đã thấy giòn rụm, hương vị thơm ngon, đậm đà lưu luyến mãi trên đầu lưỡi.
                    |
                    br
                    |
                    | Ở Quy Nhơn có một món ăn nghe tên rất lạ khiến thực khách tò mò muốn thử, đó là món bánh mì lagu. Đây là món ăn sáng phổ biến, có bánh mì ăn kèm với súp thịt heo hầm, cà rốt, khoai tây, đậu. Miếng bánh giòn thơm quyện cùng hương vị đậm đà, nóng hổi của súp là lựa chọn tuyệt vời cho một ngày mát mẻ, mưa lạnh.
    div(style='background-color:#f1f1f1;')
        p#c3(style='text-align:center;padding-top:30px') Hoạt động
        .ab
            p
                | Nếu bạn là một người yêu động vật, hãy đến với FLC Zoo Safari Park - công viên động vật hoang dã bảo tồn gần 900 cá thể động vật: gấu, đà điểu, hươu sao, lạc đà, thiên nga đen... Tại đây, bạn sẽ được khám phá môi trường sống và tập tính của các loài động vật, tham gia nhiều hoạt động giải trí như: đi xe đạp đôi, cắm trại, chèo thuyền kayak.
                |
                br
                | Trải nghiệm trượt cát tại đồi cát Phương Mai với độ dốc lên đến 100m là hoạt động không thể bỏ qua khi du lịch Quy Nhơn. Bạn sẽ thích thú với cảm giác được lao nhanh xuống từ trên cao, giữa không gian cát vàng trải dài bất tận.
                |
                br
                | Xa hơn, khu dã ngoại Trung Lương cũng là điểm đến lý tưởng cho các hoạt động dã ngoại. Hãy cùng gia đình, bạn bè dạo bước trên những con đường lát đá, ngắm hoàng hôn trên biển, tổ chức tiệc nướng, cắm trại qua đêm, tắm biển, lặn ngắm san hô.
    div
        .imgcontainer
            img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/QUYNHON/Hoat%20dong/1920x1080/Quynhon_hoatdong_eo_gio_1920x1080.jpg', style='width:100%; border-radius:5px; float:left')
        .imgcontainer
            img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/QUYNHON/Hoat%20dong/1920x1080/Quynhon_hoatdong_le_hoi_cau_ngu_1920x1080.jpg', style='width:100%; border-radius:5px;float:left')
        .imgcontainer
            img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/QUYNHON/Hoat%20dong/1920x1080/Quynhon_hoatdong_hat_tuong_1920x1080.jpg', style='width:100%; border-radius:5px;float:left;')
    p#c4(style='text-align:center;font-size:24px;padding-top:20px') Di chuyển
    p.ab.container(style='padding-bottom:50px;')
        | Các chuyến bay đến Quy Nhơn sẽ hạ cánh tại sân bay Phù Cát, cách trung tâm thành phố Quy Nhơn khoảng 30km, mất 50 - 60 phút di chuyển. Bạn có thể bắt xe buýt ở bên phải cổng sân bay với giá vé khoảng 50.000 đồng/lượt hoặc di chuyển bằng taxi với chi phí dao động từ 250.000 - 350.000 đồng/lượt. Hiện nay, các đơn vị du lịch có cung cấp dịch vụ xe ô tô đưa đón sân bay (mức giá tùy thuộc vào loại xe), phù hợp với đoàn khách đông người.
    .container1
        iframe.responsive-iframe(src='https://www.youtube.com/embed/FJdOpPOJZW8')
    p#c5(style='text-align:center;font-size:24px;padding-bottom:40px;padding-top:40px') Thông tin hữu ích
    .abc.container
        p(style='font-size:22px')  Nơi ở
        p(style='margin-left:10px;margin-right:10px;text-align:justify')
            | Khách sạn ở Quy Nhơn từ giá rẻ đến cao cấp đang được xây dựng rất nhiều, đặc biệt là dọc bãi biển Quy Nhơn.
            |
            br
            | Hai khu nhộn nhịp, sầm uất và nên ở nhất tại trung tâm thành phố Quy Nhơn hiện nay là khu dọc đường An Dương Vương và đường dọc biển Xuân Diệu. Khu đường An Dương Vương thì chỉ có một vài khách sạn cao cấp như Hải Âu, Hoàng Yến là ngay sát biển thôi, còn đâu các khách sạn toàn phía bên kia của đường An Dương Vương, gần biển làm công viên hết rùi. Khu đường dọc biển Xuân Diệu thì sầm uất hơn cả, khách sạn dọc đường này cũng đang xây dựng rất nhiều. Bãi tắm dọc hai đường này cũng là bãi tắm chính ở Quy Nhơn, rất đẹp và đông đúc.
            |
            br
            |Phía dưới 2 khu này, phía Nam, khu KDL Ghềnh Ráng cũng có khá nhiều khách sạn, nhưng hơi xa biển và bãi tắm. Xa hơn nữa, giáp với Phú Yên, khu bãi Rạng – bãi Xép, thì có một vài resort, giá khá cao, yên tĩnh, phù hợp hơn cả với bạn nào đi nghỉ dưỡng. Phía Kỳ Co – Eo Gió thì có FLC hotel &amp; resort là nổi tiếng nhất, cũng phù hợp với đi nghỉ dưỡng.
        
        p(style='font-size:22px')  Cẩm nang bỏ túi
        ul
            li
                | Thời tiết ở Quy Nhơn tương đối khắc nghiệt, bạn nhớ chuẩn bị đầy đủ kem, áo chống nắng, mũ nón… đầy đủ.
            li
                | Biển ở Quy Nhơn tương đối dốc, nước sâu, tắm biển cần cẩn thận và nhớ mang theo đồ bơi.
            li 
                | Ở Quy Nhơn, để đảm bảo an ninh, cảnh sát giao thông kiểm tra rất chặt, đặc biệt là khu ngã tư Trần Hưng Đạo – Đống Đa – Võ Nguyên Giáp (ngã tư để rẽ đi Tháp Đôi hay bán đảo Phương Mai). Bạn thuê xe nhớ xin đầy đủ giấy tờ xe và đi đúng luật nha.
            li
                | Gia đình có con nhỏ hoặc người lớn tuổi nên hạn chế đi xe máy, xe ô tô hợp đồng hay tour là phương án di chuyển an toàn và tiết kiệm hơn cả.
    #myModal.modal1.bg-light.shadow
        .modal-content
            .mySlides
                .numbertext 1 / 6
                img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/QUYNHON/canh%20dep/1920x1080/Quynhon_canhdep_duong_tau_1920x1080.jpg', style='width:100%')
            .mySlides
                .numbertext 2 / 6
                img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/QUYNHON/canh%20dep/1920x1080/Quynhon_canhdep_dam_thi_nai_1920x1080.jpg', style='width:100%')
            .mySlides
                .numbertext 3 / 6
                img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/QUYNHON/canh%20dep/1920x1080/Quynhon_canhdep_danh_bat_hai_san_1920x1080.jpg', style='width:100%')
            .mySlides
                .numbertext 4 / 6
                img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/QUYNHON/Am%20thuc/1920x1080/Quynhon_amthuc_banh_hoi_1920x1080.jpg', style='width:100%')
            .mySlides
                .numbertext 5 / 6
                img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/QUYNHON/Am%20thuc/1920x1080/Quynhon_amthuc_banh_hoi_thit_nuong_1920x1080.jpg', style='width:100%')
            .mySlides
                .numbertext 6 / 6
                img.imgshow(src='https://www.vietnamairlines.com/~/media/Images/Discovery/Vietnam/QUYNHON/Am%20thuc/1920x1080/Quynhon_amthuc_banh_xeo_tom_nhay_1920x1080.jpg', style='width:100%')
            a.linkurl.prev(onclick="plusSlides(-1)") &#x276E;
            a.linkurl.next(onclick="plusSlides(1)") &#x276F;
            .caption-container1
                p#caption
    script.
        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
        showSlides((slideIndex += n));
        }

        function currentSlide(n) {
        showSlides((slideIndex = n));
        }

        function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        var captionText = document.getElementById("caption");
        if (n > slides.length) {
            slideIndex = 1;
        }
        if (n < 1) {
            slideIndex = slides.length;
        }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        captionText.innerHTML = dots[slideIndex - 1].alt;
        }

        //- function openModal2() {
        //- document.getElementById("myModal2").style.display = "block";
        //- }

        //- function closeModal2() {
        //- document.getElementById("myModal2").style.display = "none";
        //- }

        //- var slideIndex2 = 1;
        //- showSlides2(slideIndex2);

        //- function plusSlides2(n) {
        //- showSlides2((slideIndex2 += n));
        //- }

        //- function currentSlide2(n) {
        //- showSlides2((slideIndex2 = n));
        //- }

        //- function showSlides2(n) {
        //- var i;
        //- var slides = document.getElementsByClassName("mySlides2");
        //- var dots = document.getElementsByClassName("demo");
        //- var captionText = document.getElementById("caption2");
        //- if (n > slides.length) {
        //-     slideIndex2 = 1;
        //- }
        //- if (n < 1) {
        //-     slideIndex2 = slides.length;
        //- }
        //- for (i = 0; i < slides.length; i++) {
        //-     slides[i].style.display = "none";
        //- }
        //- for (i = 0; i < dots.length; i++) {
        //-     dots[i].className = dots[i].className.replace(" active", "");
        //- }
        //- slides[slideIndex2 - 1].style.display = "block";
        //- dots[slideIndex2 - 1].className += " active";
        //- captionText.innerHTML = dots[slideIndex2 - 1].alt;
        //- }