extends ./general.pug
block content
    .error404.mt-5
    .container
        .nofication.text-center
            h2.text-danger RẤT TIẾC !!!
            h3 Vui lòng chọn chuyến bay khác tại đây
                a(href="../booking")  Tìm chuyến bay
            h3.pb-3.mb-5.font-weight-bold Xin cảm ơn !!