<!DOCTYPE html>
<html lang="vi"></html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sky Airlines | Đồng hành cùng bạn</title>
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="stylesheet" href="/styles/home.css">
  <link rel="stylesheet" href="/styles/booking.css">
  <link rel="stylesheet" href="/styles/login.css">
  <link rel="stylesheet" href="/styles/seatManage.css">
  <link rel="stylesheet" href="/styles/ticketInfo.css">
  <link rel="stylesheet" href="/styles/PhuQuoc.css">
  <link rel="icon" type="image/x-icon" href="/images/logoIcon.png" size="32x32">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&amp;display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-expand-xl sticky-top p-2" id="navbar">
    <nav class="container-lg"><a class="navbar-brand js-scroll-trigger" href="/"><img src="/images/logo.png" style="width:80%"></a>
      <button class="navbar-toggler navbar-toggler-right font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars"></i></button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav">
          <li class="nav-item mx-0 mx-lg-2 px-2 dropdown" onmouseenter="hoverLi();" onmouseleave="leaveLi();">
            <div class="nav-link py-2 px-0 px-lg-2 font-weight-bold rounded js-scroll-trigger" id="hover-li" data-toggle="dropdown" aria-expanded="false" style="cursor:pointer;">Thông tin đặt vé      </div>
            <div class="dropdown-menu">
              <div class="row">
                <div class="col-md-6 col-sm-6 mb-3"><a class="dropdown-item" href="/booking"><i class="mr-2 fas fa-star"></i>Đặt vé</a></div>
                <div class="col-md-6 col-sm-6 mb-3"><a class="dropdown-item" href="/viewTicket"> <i class="mr-2 fas fa-ticket-alt"> </i>Lịch sử đặt vé</a></div>
                <div class="col-md-6 col-sm-6 mb-3"><a class="dropdown-item" href="/settingQD6"> <i class="mr-2 fas fa-fw fa-plane-departure"></i>Sân bay </a></div>
                <div class="col-md-6 col-sm-6 mb-3"><a class="dropdown-item" href="/booking"><i class="mr-2 fas fa-check"></i>Check-in Online</a></div>
                <div class="col-md-6 col-sm-6 mb-3"><a class="dropdown-item" href="/blogs/ha-noi"> <i class="mr-2 fas fa-utensils"></i>Du lịch</a></div>
              </div>
            </div>
          </li>
          <li class="nav-item mx-0 mx-lg-2 px-2 dropdown" onmouseenter="hoverLi2();" onmouseleave="leaveLi2();">
            <div class="nav-link py-2 px-0 px-lg-2 font-weight-bold rounded js-scroll-trigger" id="hover-li2" data-toggle="dropdown" aria-expanded="false" style="cursor:pointer;">Khám phá</div>
            <div class="dropdown-menu">
              <div class="row">
                <div class="col-md-6 col-sm-6 mb-3"><a class="dropdown-item" href="/blogs/phu-quoc"><i class="mr-2 fas fa-star"></i>Phú Quốc</a></div>
                <div class="col-md-6 col-sm-6 mb-3"><a class="dropdown-item" href="/blogs/da-nang"> <i class="mr-2 fas fa-ticket-alt"> </i>Đà Nẵng                         </a></div>
                <div class="col-md-6 col-sm-6 mb-3"><a class="dropdown-item" href="/blogs/quy-nhon"> <i class="mr-2 fas fa-fw fa-plane-departure"></i>Quy Nhơn </a></div>
                <div class="col-md-6 col-sm-6 mb-3"><a class="dropdown-item" href="/blogs/ho-chi-minh"><i class="mr-2 fas fa-check"></i>TP Hồ Chí Mính</a></div>
                <div class="col-md-6 col-sm-6 mb-3"><a class="dropdown-item" href="/blogs/ha-noi"> <i class="mr-2 fas fa-bell"></i>Hà Nội</a></div>
              </div>
            </div>
          </li>
        </ul>
        <div class="ml-auto p-2 bg-dark" id="dn" style="border-radius:15px;outline:none;"><a class="ml-auto py-2 px-0 px-lg-2 font-weight-bold rounded js-scroll-trigger text-light" id="login-home" href="/login">Đăng nhập</a></div>
        <div class="p-2 bg-dark ml-2" id="dk" style="border-radius:15px;outline:none;"><a class="ml-auto py-2 px-0 px-lg-2 font-weight-bold rounded js-scroll-trigger text-light" id="signup-home" href="/signup">Đăng ký</a></div>
      </div>
    </nav>
  </nav>
  <div class="scrollTop position-fixed" onclick="scrollToTop();"></div>
  <div class="poster-search" style="background-image:url('/images/SearchFight.jpg');background-repeat: no-repeat;background-position: center;background-size: 100% 100%;height: 70vh;width: 100%;"></div>
  <div class="searching-area">
    <div class="container-lg">
    </div>
  </div>
  <script type="text/javascript">
    const flights = document.querySelectorAll(".flight-btn");
    const details = document.querySelectorAll(".hidden-detail-flight");
    flights.forEach(function (flight, index) {
    flight.addEventListener("click", function handle() {
    //console.log(index);
    if (details[index].classList.contains('h-appear')) {
    details[index].classList.remove('h-appear');
    } else {
    details[index].classList.add('h-appear');
    }
    
    });
    }); 
    //set inner cho ghế trống và ghế đặt và thời gian bay
    
    const Item = document.querySelectorAll(".show-list");
    const Seat = document.querySelectorAll(".Ghe-trong");
    const Seated = document.querySelectorAll(".Ghe-dat"); 
    const Seated1 = document.querySelectorAll(".Ghe-mua"); 
    const Time_dung = document.querySelectorAll(".TG-dung");
    const Time_move = document.querySelectorAll(".num-thBay");
    const DuocMua = document.querySelectorAll(".num-DuocMua");
    const Mua = document.querySelectorAll(".btn-mua");
    const Dat = document.querySelectorAll(".btn-dat");
    const Date_bay = document.querySelectorAll(".Date-bay");
    
    const NumVe = document.querySelectorAll(".num-dshangve");
    const GTrong = document.querySelectorAll(".SGTrong");
    const GDat = document.querySelectorAll(".SGDat");
    const GDaMua = document.querySelectorAll(".SGDaMua");
    //- const GDaMua = document.querySelectorAll(".SGDaMua");
    //- const GDaMua = document.querySelectorAll(".SGDaMua");
    
    
    // hàm forEach để lấy được index của các element trong flight
    
    var run = 0;
    //var count = 0;
    Item.forEach(function(item,index){
        var SGTrong = 0;
        var SGDat = 0;
        var SGDaMua = 0;
        if(DuocMua[index].innerHTML == 0)
        {
            Mua[index].disabled = true;
            Dat[index].disabled = true;
        }
        
        for(var j=0; j< parseInt(NumVe[index].innerHTML); j++) 
        {
            SGTrong += parseInt(GTrong[run].innerHTML);
            SGDat += parseInt(GDat[run].innerHTML);
            SGDaMua += parseInt(GDaMua[run].innerHTML);
            run++;
        }
        
        Seat[index].innerHTML = SGTrong + " ghế";
        Seated[index].innerHTML = SGDat + " ghế";
        Seated1[index].innerHTML = SGDaMua + " ghế";
    
        if(SGTrong == 0)
        {
            Mua[index].disabled = true;
            Dat[index].disabled = true;
        }
        
    
    });
  </script>
  <footer class="footer-bottom text-center footer-class">
    <div class="container-lg">
      <div class="row">
        <div class="col-sm-4 mb-4 mb-sm-0">
          <h4 class="text-uppercase mb-4" style="color:white; text-align: center">vị trí</h4>
          <p class="lead mb-0" style="color:white; text-align: center">
            
            Trường Đại học Công nghệ Thông tin TPHCM
            <br>
            Khu phố 6, Phường Linh Trung, TP. Thủ Đức
            
          </p>
        </div>
        <div class="col-sm-4 mb-4 mb-sm-0">
          <h4 class="text-uppercase mb-4" style="color:white; text-align: center">Sky Airlines</h4><a class="btn btn-outline-light btn-social mx-1" href="#"><i class="fab fa-fw fa-facebook-f"></i></a><a class="btn btn-outline-light btn-social mx-1" href="#"><i class="fab fa-fw fa-twitter"></i></a><a class="btn btn-outline-light btn-social mx-1" href="#"><i class="fab fa-fw fa-linkedin-in"></i></a><a class="btn btn-outline-light btn-social mx-1" href="#"><i class="fab fa-fw fa-dribbble"></i></a>
        </div>
        <div class="col-sm-4">
          <h4 class="text-uppercase mb-4" style="color:white; text-align: center">Về chúng tôi</h4>
          <p class="lead mb-0" style="color:white; text-align: center">Quản lý bán vé chuyến bay<br>SE104.N23</p><b class="text-uppercase" style="color:white; text-align: center">team 26</b>
        </div>
      </div>
      <div class="copyright py-4 text-center text-white container-xl"><small style="color:white;">Copyright © Team 26</small></div>
    </div>
  </footer>
  <script>
    var swiper = new Swiper(".swiper-container", {
    slidesPerView: 1,
    spaceBetween: 0,
    loop: true,
    autoplay: {
    delay: 2500,
    disableOnInteraction: false,
    },
    pagination: {
    el: ".swiper-pagination",
    clickable: true
    }
    });
    
    function hoverLi(){
    document.getElementById("hover-li").style.color= "#f4942d";
    };
    function leaveLi(){
    document.getElementById("hover-li").style.color= "#1f3c7a";
    };
    
    function hoverLi2(){
    document.getElementById("hover-li2").style.color= "#f4942d";
    };
    function leaveLi2(){
    document.getElementById("hover-li2").style.color= "#1f3c7a";
    };
    
    function hoverLi3(){
    document.getElementById("hover-li3").style.color= "#f4942d";
    };
    function leaveLi3(){
    document.getElementById("hover-li3").style.color= "#1f3c7a";
    };
    
    window.addEventListener('scroll',()=>{
        var scroll = document.querySelector('.scrollTop');
        scroll.classList.toggle('actived',window.scrollY > 400)
    });
    
    function scrollToTop(){
        //- window.scrollTo({
        //-     top:0,
        //-     behavior: 'smooth'
        //- });
        $("html, body").animate({scrollTop: 0 },"show");
    };
  </script>
</body>